# Beginner Python Questions
Topics: variables, data types, arithmetic operators, print statement

## 1. Calculate the Total Bill
A restaurant bill is ₹450. GST is 18%. Calculate the final bill amount.

In [2]:
# Write your solution here
bill = 450
gst = 0.18 * bill

print(gst)

Final_bill = bill + gst
print(Final_bill)

81.0
531.0

Grocery Bill

In [6]:
Veg = 345
v_gst = 0.08 * Veg

Milk = 60
m_gst = 0.10*Milk

Sweet = 390
s_gst = 0.12*Sweet

final_bill = Veg + v_gst + Milk + m_gst + Sweet + s_gst

Discount = final_bill - (0.10 * final_bill)

print(final_bill)
print(Discount)

875.4
787.86

## 2. Combine Two Numbers
Create two variables `a = 7` and `b = 3` and compute sum, difference, product, and a^b.

In [8]:
# Write your solution here
a = 7
b = 3

Sum = a+b
diff = a-b
Prod = a*b
power = a^b

print(Sum)
print(diff)
print(Prod)
print(power)

10
4
21
4

## 3. Temperature Converter
Convert 36°C to Fahrenheit using F = (C * 9/5) + 32.

In [9]:
# Write your solution here
C = 36
F = (C * 9/5) + 32
print(F)

96.8

## 4. Movie Ticket Cost Calculator
Movie ticket = 180, popcorn = 120. Calculate total for 2 tickets + 1 popcorn and 3 tickets + 0 popcorn.

In [22]:
# Write your solution here
Movie_ticket_price = 180
Popcorn_price = 120

bill_one = 2*Movie_ticket_price + 1*Popcorn_price

bill_two = 3*Movie_ticket_price + 0*Popcorn_price

print(bill_one)
print(bill_two)

Total = bill_one + bill_two

print(f"Total_Cost :{Total}")

480
540
Total_Cost :1020

In [24]:
one_product = 125
Total_products = 370

Revanue = one_product * Total_products

print(Revanue)

gst = 0.18 * Revanue
print(gst)

pat = Revanue - gst

print(pat)

46250
8325.0
37925.0

In [27]:
Revanuefor_2023 = 263.5
Revanuefor_2024 = 426.5

profit_increase = (Revanuefor_2024 - Revanuefor_2023)/Revanuefor_2023 * 100
print(round(profit_increase))

62

## 5. Area of a Circle
Radius = 5. Calculate area using 3.14 * r * r.

In [13]:
# Write your solution here
Radius = 5
Area = 3.14 * Radius * Radius
print("Area :",Area)

Area : 78.5

In [31]:
age = int(input("Enter your Age : "))

if age < 18:
    print("Avi tu Bachha hai")
if age >= 18:
    print("Jii le Apni Jindagi")

Jii le Apni Jindagi

In [32]:
age = int(input("Enter your Age : "))

if age < 18:
    print(f"wait for {18-age} years")
if age >= 18:
    print("Jii le Apni Jindagi")

wait for 6 years

In [35]:
name = input("What is your Name : ")
age = int(input("Enter your Age : "))

if age < 18:
    print(f"{name} wait for {18-age} years")
if age >= 18:
    print(f"{name} bhai Jii lo Apni Jindagi")

Ankit bhai Jii lo Apni Jindagi

In [36]:
name = input("What is your Name : ")
age = int(input("Enter your Age : "))

if age < 18:
    print(f"{name} wait for {18-age} years")
else:
    print(f"{name} bhai Jii lo Apni Jindagi")

Ankit wait for 6 years