# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [5]:
# Answer here
a = 8
b = 12
c = a+b
c

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [6]:
# Answer here
a = 7
b = 20
c = a-b
c

-13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [7]:
# Answer here
a = 6
b = 9
c = a*b
c

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [8]:
# Answer here
a = 45
b = 9
c = a/b
c

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [10]:
# Answer here
a = 45
b = 9
d = 50
e = 6
c = a//b
f = d//e
print(c)
print(f)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [11]:
# Answer here
a = 29
b = 5
c = a%b
c

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [12]:
# Answer here
a = 3
b = 4
c = a**b
c

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [21]:
# Answer here
x = 4
x += x
print(x)

z = 3
z -= z
z

8

0

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [26]:
# Answer here
print(5+3*2)

print((5+3) * 2)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [27]:
# Answer here
a = 15
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [30]:
# Answer here
n = 10
n += 5
print(n)

n *= 2
print(n)

n -= 4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [36]:
# Answer here
a = 5
b = 10
a , b = b , a
print(a,b)

10 5

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [31]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a = float(input("enter the 1st number :"))
b = float(input("enter the 2nd number :"))
c = a + b
print(c)

28.0

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [32]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a = float(input("Enter the 1st Number :"))
b = float(input("Enter the 2nd Number :"))
c = float(input("Enter the 3rd Number :"))
Avg = (a+b+c)/3
print(Avg)

10.0

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [33]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
radius = float(input("Enter the Radius :"))
Circumference = 2 * 3.14159 * radius
Area = 3.14159 * radius ** 2
print(Circumference)
print(Area)

75.39815999999999
452.38896

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
Total_seconds = int(input("Enter total seconds :"))
hours = Total_seconds // 3600
minutes = (Total_seconds % 3600)//60
seconds = Total_seconds % 60
print(f"{hours}:{minutes}:{seconds}")

15:33:43

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [34]:
# Answer here
principal = float(input("Enter the Principal value :"))
rate = float(input("Enter the Rate value :"))
time = float(input("Enter the time :"))
Interest = (principal * rate * time)/100
print(f"Interest : {Interest}")

Interest : 960.0